html, body {
  font-family: Verdana,sans-serif;
  background-color: #EEEEEE;
  color: #333333;
}

body {
  margin: 0;
  margin-bottom: auto;
  font-size:0.9em;
}

hr {
  clear: both;
  border: none;
  border-top: 1px solid #DDD;
  height: 0;
}

.header {
  background-color: #fff;
  padding: 5px 10px;
}
.right {
  float: right;
}

.header a {
  margin-right: 5px;
}

.boards_list {
  /* padding: 8px 0; */
  display: inline-block;
}

.board_name {
  text-align: center;
  margin: 50px 0;
}

a,
a:hover,
a:visited {

  color: #ff7600;
}
a.board_link {
  margin-right: 5px;
  text-decoration: none;
}

.board_wrapper,
.thread_wrapper {
  border: 1px solid #eee;
  background-color: #eee;
  padding: 8px;
}

.post {
  /* padding: 10px; */
  margin-bottom: 3px;
  border-radius: 2px;
  word-wrap: break-word;
}

.reply {
  margin-bottom: 10px;
  padding: 5px 10px 10px 5px;
  background: #DDDDDD;
  border: solid 1px #CCCCCC;
  min-width: 33em;
  max-width: calc(100vw - 290px);
  float:left;
  clear:both
}


.post_details,
.post_body {
  display: block;
  font-size: 14px;
}
.post_body {
  margin-bottom: 20px;
}
.post_footer {
  display: block;
  font-size: 13px;
  color: #7b7b7b;
}
.post_details {
  margin-bottom: 20px;
}
.reply_body {
  padding: 10px 30px;
}

.post_details .by,
.date,
.repl {
  display: inline-block;
  margin-right: 10px;
}
.reply_form_wrapper {
  width: 500px;

  margin-bottom: 20px;
}

.RichTextEditor__root___2QXK- .public-DraftEditor-content {
  min-height: 110px;
}
