html, body {
  font-family: Verdana,sans-serif;
  background-color: #EEEEEE;
  color: #333333;
}

body {
  margin: 0;
  margin-bottom: auto;
  font-size:0.9em;
}

hr {
  clear: both;
  border: none;
  border-top: 1px solid #DDD;
  height: 0;
}

.header {
  background-color: #fff;
  padding: 5px 10px;
}
.right {
  float: right;
}

.header a {
  margin-right: 5px;
}

.boards_list {
  /* padding: 8px 0; */
  display: inline-block;
}
.boards_list_home {

  /* display: block; */
  margin: 10px auto;

}
.boards_list_home td {
  border: 1px solid #ddd;
  padding: 0 10px;
}

.board_name {
  text-align: center;
  margin: 50px 0;
}
.toggle_form {
  margin: 50px 0;
  text-align: center;
  display: block;
  cursor: pointer;
}

a,
a:hover,
a:visited {

  color: #ff7600;
}
a.board_link {
  margin-right: 5px;
  text-decoration: none;
}

.board_wrapper,
.topic_wrapper {
  border: 1px solid #eee;
  background-color: #eee;
  padding: 8px;
}

.post {
  /* padding: 10px; */
  margin-bottom: 3px;
  border-radius: 2px;
  word-wrap: break-word;
}

.reply {
  margin-bottom: 10px;
  padding: 5px 10px 10px 5px;
  background: #DDDDDD;
  border: solid 1px #CCCCCC;
  min-width: 33em;
  max-width: calc(100vw - 290px);
  float:left;
  clear:both
}


.post_details,
.post_body {
  display: block;
  font-size: 14px;
}
.post_body {
  margin-bottom: 20px;
}
.post_footer {
  display: block;
  font-size: 13px;
  color: #7b7b7b;
}
.post_details {
  margin-bottom: 20px;
}
.reply_body {
  padding: 10px 30px;
}

.post_details .by,
.date,
.repl {
  display: inline-block;
  margin-right: 10px;
}

.form_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#form td #name{
  width: 250px;
  margin-right: 0;
  float: left;
}

#form td #submit {
  margin: 0;
  margin-left: 2px;
  width: 88px;
  float: left;
}

#form td #subject,
#form td #options,
#form td #body {
  width: 340px;
  margin-right: 0;
  float: left;
}

#form td {
  vertical-align: top;
  font-size: 13px;
  padding-right: 10px;
  font-weight: bold;
}

input[type="text"], input[type="password"], textarea {
    padding: 0;
    margin: 0;
    border: 1px solid #CACACA;
    outline: medium none;
    padding: 2px 4px;
}
input[type="button"], input[type="submit"] {
    padding: 2px 6px;
    border: 1px solid #CACACA;
    background: #EAEAEA;
}
